@import "reset";
@import "base";

.grid-container {
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    / 350px auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  // pour pouvoir visualiser dans la mise en place
  // min-height: 30rem;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 2.5rem;
    margin-bottom: 2.5rem;
  }
  p {
    letter-spacing: 0.5rem;
  }
}

.picture {
  grid-area: picture;
  // background: red;
  padding: 5rem;
  background: var(--background);
  img {
    border-radius: 50%;
    transform: rotate(-151deg);
  }
}

aside {
  grid-area: aside;
  // background: green;
}

main {
  grid-area: main;
  // background: purple;
}
