:root {
  --font-family: "Mulish", sans-serif;

  // colors
  // --light: #00c3ff;
  --light: #55efc4;
  // --primary: #2071e7;
  --primary: #16a085;
  // --dark: #2980b9;
  --dark: #00a8ff;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
